<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <h1>You Have No Message</h1>
    <button><a href="/profile">Back To Profile</a></button>
    <style>
        body{
            background-color :#13213c;
            color: whitesmoke;
        }
        h1{
            margin-top: 30%;
            text-align: center;
        }

        button{
            margin-left: 42%;
            margin-top: 10%;
            width: 200px;
        }
    </style>
</body>
</html>